* {
    padding: 0;
    margin: 0;
}

#menu {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
    font-size: 18px;
    background-color: #303030;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu ul {
    list-style: none;
    background-color: white;
    padding: 10px 20px 10px 10px;
    margin-top: 10px;
    position: absolute;
}

#menu ul li {
    padding: 10px;
}

#menu ul li a{
    color: black;
    text-decoration: none;
}

.subpages-menu {
    opacity: 0;
    transition: all 1s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.subpages-menu li:hover{
    background-color: #ddd;
}

.subpages:hover .subpages-menu{
    opacity: 1;
}

.nav-link {
    color: white; 
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #717070;
}

#logo-wrap {
    font-size: 50px; 
    font-family: Impact; 
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
}

#logo-wrap:hover #logo-img-1 {
    animation-name: first-block-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes first-block-anim {
    0%   {left: 0; top: 0;}
    25%  {left: 0; top: 10px;}
    50%  {left: 10px; top: 10px;}
    75%  {left: 10px; top: 0;}
    100% {left: 0; top: 0;}
}

#logo-wrap:hover #logo-img-2 {
    animation-name: second-block-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes second-block-anim {
    0%   {left: 10px; top: 10px;}
    25%  {left: 10px; top: 0;}
    50%  {left: 0; top: 0;}
    75%  {left: 0; top: 10px;}
    100% {left: 10px; top: 10px;}
}

#logo-wrap:hover #logo-img-3 {
    animation-name: third-block-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes third-block-anim {
    0%   {left: 0; top: 10px;}
    25%  {left: 10px; top: 10px;}
    50%  {left: 10px; top: 0;}
    75%  {left: 0; top: 0;}
    100% {left: 0; top: 10px;}
}

#logo-wrap:hover #logo-img-4 {
    animation-name: fourth-block-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes fourth-block-anim {
    0%   {left: 10px; top: 0;}
    25%  {left: 0; top: 0;}
    50%  {left: 0; top: 10px;}
    75%  {left: 10px; top: 10px;}
    100% {left: 10px; top: 0;}
}

#logo-title {
    text-decoration: none;
}

#logo-img {
    height: 50px;
    width: 50px;
    position: relative;
}

.logo-img-child {
    height: 30px;
    width: 30px;
    position: absolute;
}

#logo-img-1 {
    border: 5px green solid;
    left: 0;
    top: 0;
    z-index: 1;
}

#logo-img-2 {
    border: 5px orange solid;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#logo-img-3 {
    border: 5px blue solid;
    left: 0;
    bottom: 0;
    z-index: 3;
}

#logo-img-4 {
    border: 5px red solid;
    right: 0;
    top: 0;
    z-index: 4;
}

.white-icon {
    color: #ffffff;
}

.grey-background {
    background-color: grey;
}

.black-background {
    background-color: black;
}

.inline-block {
    display: inline-block;
}

.vertical-top-align {
    vertical-align: top;
}

.italic-style {
    font-style: italic;
}

.bold-weight {
    font-weight: bold;
}

.text-white {
    color: white;
}

.none-decoration {
    text-decoration: none;
}

.required-star::after {
    content: "*";
    color: red;
}