* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#form-wrap {
    background-color: #DCE8E8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#form-input-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

input {
    outline: none;
    padding: 5px;
    font-size: 14px;
}

input[type="submit"],
#add-button {
    padding: 5px 25px;
    border: 1px black solid;
    cursor: pointer;
}

input[type="submit"] {
    background: linear-gradient(to top, green, white);
}

input[type="submit"]:hover {
    background: linear-gradient(to bottom, green, white);
}

#add-button,
#add-button:active {
    font-size: 14px;
    color: black;
    background: linear-gradient(to top, #f9ba14, white);
    text-decoration: none;
    background-size: 100px;
}

#add-button:hover {
    background: linear-gradient(to bottom, #f9ba14, white);
}



.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.allTables {
    width: 1200px;
}

.evenTables tr:nth-child(even) {
    background-color: rgb(200, 200, 200);
}

.allTables th {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

.allTables td {
    text-align: center;
}

#title-wrap {
    display: flex; 
    align-items: center;
    gap: 7px;
}

#title-icon {
    font-size: x-large;
}

@media screen and (max-width: 420px) { 
    body {
        overflow: auto;
    }

    #form-wrap {
        padding: 20px 10px;
        height: fit-content;
        box-sizing: border-box;
        display: unset;
        align-items: unset;
        justify-content: unset;
        background-color: transparent;
    }

    #form-wrap form { 
        padding: 20px 10px;
        background-color: #DCE8E8;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
    }

    #add-button {
        width: 100%;
    }

    .table {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;
        width: 100%;
        display: block;
    }

    .table table {
        width: fit-content;
    }

    #structure th,
    #structure td {
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
    }

    #form-input-wrap {
        flex-direction: column;
        width: 100%;
    }

    #add-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
